grpcio
opentelemetry-exporter-otlp-proto-grpc
fastapi 
uvicorn 
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-instrumentation-fastapi 
opentelemetry-exporter-otlp
slowapi
tensorflow
prometheus-fastapi-instrumentator
opentelemetry-exporter-prometheus